.form {

}

.input {
    display: block;
    margin: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.71);
}

.wrap {
    display: flex;
    background: linear-gradient(45deg, darkslateblue 0%, white 50%, darkslateblue 100%);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 3px solid darkslateblue;
    position: relative;
    padding: 10px;
    height: 250px;
    width: 500px;
}
.errors{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 2px 2px 4px black;
    line-height: 10px;
    border: 2px solid darkslateblue;
    background: linear-gradient(-45deg, #ff6868 0%, white 50%, #ff6868 100%);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    transition: 200ms;
}
.buttonY{
    display: block;
    width: 150px;
    height: 25px;
    box-shadow: 2px 2px 3px black;
    background: #f3e459;
    border: 2px solid #afaf2e;
    margin: 10px;
    transition: 200ms;
}
.buttonN{
    display: block;
    width: 150px;
    height: 25px;
    box-shadow: 2px 2px 3px black;
    background: #9390ee;
    border: 2px solid #003764;
    margin: 10px;
    transition: 200ms;
}
.buttonY:hover, .buttonY:hover{
    width: 155px;
    height: 30px;
}