.form {
    margin: 10px;
    padding: 10px;
    border: 2px solid darkblue;
    background: linear-gradient(45deg, darkblue 0%, cornflowerblue 10%, lightskyblue 20%, white 50%, lightskyblue 80%, cornflowerblue 90%, darkblue 100%);
}

.input{
    display: block;
}
.formDiv{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 2px solid darkblue;
    background: linear-gradient(-45deg, silver 0%, whitesmoke 20%, white 50%, whitesmoke 80%, silver 100%);
}
.errors{
    margin: 10px;
    padding: 10px;
    border: 2px solid darkred;
    background: linear-gradient(45deg, red 0%, #ff7878 10%, white 50%, #ff7878 90%, red 100%);
    height: 350px;
    width: 300px;
}
.errors p, .errors h3{
    margin: 0;
}
